.chores {
  /*
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #ccc;
  */
  font-family: Arial, Helvetica, sans-serif;
  color: #600;
}

.chores h3 {
  text-decoration: underline;
}

.chores ul > li {
  font-size: larger;
  font-style: italic;
}
